@model LoginViewModel

@{
    ViewData["Title"] = "AccessDenies";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><i class="fa-solid fa-user me-2"></i></h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-5"></i></h1>
        <p>İlgili sayfaya erisiminiz yoktur</p>
        <div class="text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">go to Home Page</a>
        </div>
    </div>
</div>