@{
    ViewData["Title"] = "Profile";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>


<div class="row">
    <div class="col-4 ">
        <form method="post">
            <div class="form-group">
                <label class="form-label small">Name-Surname</label>
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control" placeholder="write">
                </div>
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-floppy-disk fa-beat me-2" style="color: #ff8040;"></i>Save</button>
            </div>
        </form>
    </div>
</div>